@model List<ForumApplication.ViewModels.QuestionViewModel>
@{
    ViewBag.Title = "Index";    
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn, Share, and Answer for the Question</h1>
            <h3>Welcome to the Microsoft Support Community. Need help? We've got answers! Search, browse, or ask a question. ... Microsoft 365 and Office · Gaming and Xbox.</h3>
            <p class="lead">Visit a content portal to find information, resources, and help over a wide range of topics, projects, and issues.</p>
        </div>
    </div>
</div>


